body {
  background: mediumpurple;
}

body:before {
  content: 'emojis';
  position: fixed;
  left: 0;
  right: 0;
  margin: 5% auto;
  width: 100%;
  text-align: center;
  font-size: 5rem;
  font-family: 'Kalam', cursive;
  font-weight: bold;
  color: darkslateblue;
}